<ion-view title="信佳管理系统" hide-back-button="true">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
    <ion-nav-buttons side="right">
    <button menu-toggle="right" class="button button-icon" ng-click="logout()"><i class="icon ion-log-out">退出</i>
    </button>
  </ion-nav-buttons>
     <ion-content class="home" has-header="false" id="home">
      	 <div class="magnifiers">
            <a class="magnifier" href="#/display/list">
                <i class="fa fa-sun-o ion-clipboard"><strong>陈列管理</strong></i>
                
            </a>

            <a class="magnifier" href="#/know/list">
                <i class="fa fa-map-marker ion-document-text"><strong>知识库</strong></i>
                
            </a>
            
            <a class="magnifier" href="#">
                <i class="fa fa-cube ion-chatbox-working"><strong>待开发</strong></i>
                
            </a>
            
            <a class="magnifier" href="#">
                <i class="fa fa-building-o ion-person-stalker"> <strong>待开发</strong></i>
               
            </a>
            
            <a class="magnifier" href="#">
                <i class="fa fa-user ion-person-stalker"> <strong>待开发</strong></i>
               
            </a>
            <a class="magnifier" href="">
                <i class="fa fa-newspaper-o ion-person-stalker"> <strong>待开发</strong></i>
               
            </a>
            <a class="magnifier" href="">
                <i class="iocn ion-person-stalker ion-person-stalker">    <strong>待开发</strong></i>
            
            </a>
            <a class="magnifier" href="">
                <i class="fa fa-star-o ion-person-stalker">   <strong>待开发</strong></i>
             
            </a>
        </div>
  </ion-content>
</ion-view>
