<ion-side-menus>

  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable nav-title-slide-ios7">
      <ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i> Back</ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <header class="bar bar-header bar-stable">
      <h1 class="title">菜单</h1>
    </header>
    <ion-content class="has-header">
      <ion-list>
        <ion-item nav-clear menu-close href="#/app/home">
            <i class="icon ion-home"> 首页</i>
        </ion-item> 
        <ion-item nav-clear menu-close ng-click="info()">
            <i class="icon ion-person"> 个人信息</i>
        </ion-item>
        <ion-item nav-clear menu-close ng-click="login()">
            <i class="icon ion-person-add"> 登陆账号</i>
        </ion-item>
        <ion-item nav-clear menu-close ng-click="logout()">
           <i class="icon ion-log-out"> 退出登陆</i>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
